<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my little image to text, sentiment analysis project!</p>
    <p>This is largely a work in progress, but check out what text Tesseract can pull from your image <a href="/images/">here</a>, as well as what a future JSON-formatted API response would look like <a href="/images/json-example/">here</a>.</p>
  </body>
</html>
